@use "../abstracts/index" as *;

.authlayout {
  @include flex(center, center, null);
  width: 100%;
  min-height: 100vh;

  .auth {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 400px;

    padding-bottom: 90px;
    margin-inline: auto;
    border-radius: 0.75rem;
    box-shadow: 0 1px 4px 0 var(--clr-primary-800);

    @include break-down(sm) {
      max-width: none;
      box-shadow: none;
    }

    .google {
      position: relative;
      &:hover {
        background: var(--clr-accent-700);
      }

      .google-logo {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 25%;
      }
    }

    .or {
      position: relative;

      &.active1::before {
        background: var(--clr-neutral-100);
      }
      &.active1::after {
        background: var(--clr-neutral-100);
      }

      &::before {
        content: "";
        top: 55%;
        position: absolute;
        left: 0;
        width: 45%;
        height: 1px;
        background: var(--clr-primary-800);
      }
      &::after {
        content: "";
        top: 55%;
        position: absolute;
        right: 0;
        width: 45%;
        height: 1px;
        background: var(--clr-primary-800);
      }
    }

    .input-auth {
      margin-top: 0.5rem;
      border: 1px solid var(--clr-primary-500);
      border-radius: 0.5rem;
      padding: 0.75rem 1rem;

      &.inputPass {
        padding: 0.75rem 2.5rem 0.75rem 1rem;
      }

      &:focus-within {
        outline: var(--clr-accent-700) solid 1px;
        outline-offset: 0.75px;
      }
    }

    .authnavigation {
      position: absolute;
      bottom: 0;
      left: 0;
      border-block: 1px solid var(--clr-primary-500);

      @include break-down(sm) {
        border-block: none;
        bottom: 5%;
      }
    }
    .notif {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -100%);
      font-weight: var(--fw-medium);
    }
    .eye {
      position: absolute;
      bottom: 35%;
      right: 10px;
      cursor: pointer;

      &:hover {
        color: var(--clr-accent-700);
      }
    }
  }
}
