@use "../abstracts/index" as *;

.dashboard-main {
  padding: 1rem;

  .dashboard-main-header {
    @include flex(space-between, center, null);
    width: 100%;
    gap: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--clr-primary-300);

    .pemasukan {
      padding: 0.625rem 1rem;
      border-radius: 0.5rem;
      background: var(--clr-accent-600);
      border: 1px solid var(--clr-primary-300);
      color: var(--clr-neutral-100);
      font-weight: 600;
      cursor: pointer;

      &:hover {
        outline: var(--clr-neutral-900) solid 2px;
      }

      @include break-down(xl) {
        padding-block: 0.5rem;
        font-size: 0.75rem;
      }
    }
    .pengeluaran {
      padding: 0.625rem 1rem;
      border-radius: 0.5rem;
      background: var(--clr-accent-500);
      color: var(--clr-neutral-100);
      border: 1px solid var(--clr-primary-300);
      font-weight: 600;
      cursor: pointer;
      &:hover {
        outline: var(--clr-neutral-900) solid 2px;
      }

      @include break-down(xl) {
        padding-block: 0.5rem;
        font-size: 0.75rem;
      }
    }
  }

  .wrapper-category {
    margin-top: 2rem;
    height: calc(100vh - 280px);
    background: var(--clr-neutral-200);
    border-radius: 25px;
    border: 1px solid var(--clr-primary-300);
    overflow: hidden;

    .category-head {
      padding: 1rem;
      border-bottom: 1px solid var(--clr-primary-300);
      @include flex(space-between, center, null);

      .icon-category-head {
        background-color: var(--clr-primary-300);
        padding: 0.5rem;
        width: 35px;
        height: 35px;
        color: var(--clr-accent-700);
        border-radius: 0.75rem;
      }
      .button-category {
        @include button2();
        background: var(--clr-accent-500);
      }
    }

    .category-content {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      @include break-up(md) {
        grid-template-columns: repeat(12, minmax(0, 1fr));
      }
      @include break-up(xl) {
        grid-template-columns: repeat(10, minmax(0, 1fr));
      }
      padding: 1rem;
      gap: 1rem;
      overflow-y: auto;
      padding-bottom: 6rem;
      position: relative;

      .category-notfound {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h3 {
          color: var(--clr-primary-600);
          font-weight: 500;
        }
        p {
          color: var(--clr-primary-500);
        }
      }

      .category-list {
        grid-column: span 2 / span 2;
        @include break-up(md) {
          grid-column: span 4 / span 4;
        }
        @include break-up(lg) {
          grid-column: span 3 / span 3;
        }

        @include break-up(xl2) {
          grid-column: span 2 / span 2;
        }
        width: 100%;
        height: 100px;
        border-radius: 0.5rem;

        box-shadow: 0 1px 4px var(--clr-primary-500);

        .emoji {
          margin: auto;
          padding: 0.5rem;
          display: block;
          width: 50px;
          height: 50px;
          font-size: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        p {
          margin-top: 1rem;
          font-weight: 600;
          text-align: center;
        }
      }
    }
  }
  .wrapper-category-skeleton {
    margin-top: 2rem;
    min-height: calc(100vh - 280px);
    background: var(--clr-neutral-200);
    border-radius: 25px;
    border: 1px solid var(--clr-primary-300);
  }
}
