@use "../abstracts/index" as *;

.modal-backdrop-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0 0 0 /50%);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 100;
}
.modal2 {
  z-index: 1000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  @include flex(center, center, null);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: scale(0.95);

  @include break-down(md) {
    opacity: 0;

    transform: translateY(100%);
    @include flex(center, end, null);
  }

  &.modal-active {
    opacity: 1;
    transform: scale(1);
    @include break-down(md) {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .modal {
    width: 100%;
    max-width: 450px;
    border-radius: 0.5rem;
    @include break-down(md) {
      max-width: none;
    }

    background: var(--clr-neutral-100);
    z-index: 1000;
    padding: 1rem;

    @include break-down(md) {
      border-radius: 0.5rem;
    }

    .close-modal {
      border: none;
      padding: 0.25rem;
      border-radius: 0.5rem;
      background: var(--clr-primary-300);
      cursor: pointer;
      &:hover {
        background: var(--clr-primary-200);
      }
      &:focus-within {
        outline: var(--clr-primary-500) solid 2px;
      }
    }
    .modal-content-wrapper {
      min-height: 50vh;
      @include break-down(md) {
        min-height: 55vh;
      }
      overflow: hidden;
      .modal-content {
        overflow-y: auto;

        input {
          background: var(--clr-neutral-200);
          outline: none;
          border: 2px solid var(--clr-primary-500);
          &:focus-within {
            border: 2px solid var(--clr-accent-700);
          }
        }

        .category-pick {
          width: 100%;
          height: 120px;
          border-radius: 0.5rem;
          border: 2px solid var(--clr-primary-500);
          margin-top: 0.5rem;
          background: var(--clr-neutral-200);
          @include flex(center, center, null);
          user-select: none;
          cursor: pointer;
          outline: none;
          &:focus-within {
            border: 2px solid var(--clr-accent-700);
          }
          &:focus {
            border: 2px solid var(--clr-accent-700);
          }

          .pick {
            margin: auto;
            user-select: none;
          }
          .emoji {
            font-size: 3.5rem;
          }
        }

        .button-modal-manage {
          @include flex(end, center, null);
          margin-top: 0.1rem;
          gap: 0.5rem;
        }

        .choose-category {
          width: 180px;
          padding: 0.5rem;
          cursor: pointer;
          margin-top: 0.5rem;
          outline: none;
          border-radius: 0.5rem;
          border: 2px solid var(--clr-primary-500);

          background: var(--clr-neutral-200);
          @include flex(space-between, center, null);
          &:focus-within {
            border: 2px solid var(--clr-accent-700);
          }
          &:focus {
            border: 2px solid var(--clr-accent-700);
          }
        }
      }
      .button-modal-income {
        position: absolute;
        bottom: -60px;
        right: -235px;
        display: flex;
        gap: 0.5rem;
      }
    }
  }
}

.picker {
  position: fixed;
  top: 20%;
  left: 50%;

  transform: translate(-50%, -50%);

  @include break-down(md) {
    top: 37%;
  }
}

.choose {
  position: absolute;
}

.drop-down {
  height: 100px;
  overflow: hidden;
  background: var(--clr-neutral-200);
  border-radius: 0.5rem;
  box-shadow: 0 1px 4px var(--clr-primary-500);
  position: absolute;
  bottom: -102px;
  left: 2px;

  .drop-down-search {
    border-bottom: 1px solid var(--clr-primary-300);
    padding: 0.5rem;
    padding-inline: 2rem;
    position: relative;

    .search-icon {
      position: absolute;
      margin: auto;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
    }

    .plus {
      padding: 0.25rem;
      border-radius: 100%;
      position: absolute;
      width: 20px;
      height: 20px;
      right: 5px;
      @include flex(center, center, null);
      top: 55%;
      transform: translateY(-50%);
    }
  }
  .dialog-content {
    padding-inline: 0.5rem;
    border-bottom: 1px solid var(--clr-primary-300);
    height: 100px;
    padding-bottom: 3rem;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .child {
      @include flex(start, center, null);
      border-bottom: 1px solid var(--clr-primary-200);
      gap: 0.5rem;
      user-select: none;
      cursor: pointer;
    }
  }

  .drop-down-input {
    border: 0 !important;
    outline: none !important;
    width: 113px;
  }

  @include break-down(md) {
    bottom: -100px;
    left: 3px;
  }
}
