@use "../abstracts/index" as *;
.primary-list {
  margin-top: 3rem;

  .list {
    list-style: none;
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 4px;
    width: 100%;
    text-align: center;
    padding: 0.5rem;

    a {
      color: var(--clr-primary-800);
      width: 100%;
      padding-block: 1rem;
      padding-right: 1rem;
      border-radius: 0.75rem;
      gap: 0.5rem;
      font-size: 0.75rem;
      @include flex(end, center, null);
      position: relative;

      .icon {
        position: absolute;

        height: 50px;
        width: 50px;
        border-radius: 100%;
        padding: 1rem;
        left: -10px;
        bottom: 0;
        @include flex(center, center, null);
      }

      &:hover {
        color: var(--clr-accent-700);
      }
      &.active {
        color: var(--clr-accent-700);
        background: var(--clr-accent-300);
        .icon {
          background: var(--clr-accent-700);
          color: var(--clr-neutral-100);
          border: 1px solid var(--clr-neutral-100);
        }
      }
    }
  }
}
.sidebar-close {
  position: absolute;
  top: 3%;
  width: 32px;
  height: 32px;
  background: var(--clr-neutral-100);
  border: 1px solid var(--clr-neutral-200);
  right: -40px;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  display: none;

  @include break-down(lg) {
    display: block;
  }
}
.copy {
  font-size: 0.75rem;
  margin-bottom: 1.5rem;
  padding-inline: 0.5rem;
}
