.container {
  $max-width: 1280px;
  $padding: 1rem;

  width: min($max-width, (100% - $padding));
  margin-inline: auto;
  position: relative;
}

.container2 {
  $max-width: 1280px;

  width: min($max-width, (100%));
  margin-inline: auto;
  position: relative;
}
