@use "../abstracts/index" as *;

.mx-auto {
  margin-inline: auto;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-full {
  border-radius: 100%;
}

.relative {
  position: relative;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-center {
  @include flex(center, center, null);
}

.flex-between {
  @include flex(space-between, center, null);
}

.w-full {
  width: 100%;
}

.flex-col {
  flex-direction: column;
}

.min-h-screen {
  min-height: 100vh;
}

.h-screen {
  height: 100vh;
}

.h-full {
  height: 100%;
}

.gap {
  gap: 0.5rem;
}

.gap2 {
  gap: 1rem;
}

.border {
  border: 1px;
}

.border-2 {
  border: 2px;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.button {
  @include button;
}

.block {
  display: block;
}

.hidden {
  display: none;
}
