@use "../abstracts/index" as *;

.dashboard-wrapper {
  @include flex(space-between, center, row);

  .sidebar {
    max-width: 190px;
    background: #f9fafb;
    min-height: 100vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: sticky;
    box-shadow: 0 1px 8px var(--clr-primary-500);
    z-index: 50;
    @include flex(space-between, center, column);
    transition: all 0.3s ease-in-out;

    @include break-up(lg) {
      max-width: 220px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    @include break-down(xl) {
      position: fixed;
      top: 0;
      left: -300px;
      opacity: 0.5;

      &.sidebarActive {
        left: 0;
        opacity: 1;
      }
    }

    .copy {
      margin-bottom: 2rem;
    }
  }

  .main {
    width: 100%;
  }
}

.logo {
  user-select: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.inputs {
  margin-top: 0.5rem;
  border: 1px solid var(--clr-primary-500);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
}
