$p-0: 0.5rem;
$p-1: 0.75rem;
$p-2: 0.875rem;
$p-3: 1rem;
$p-4: 1.25rem;
$p-5: 1.5rem;
$p-6: 1.75rem;
$p-7: 2.5rem;
$p-8: 2.75rem;
$p-9: 5rem;

$areas: (
  0: $p-0,
  1: $p-1,
  2: $p-2,
  3: $p-3,
  4: $p-4,
  5: $p-5,
  6: $p-6,
  7: $p-7,
  8: $p-8,
  9: $p-9,
);
