$colors: (
  primary: (
    100: #f3f4f6,
    200: #e2e8f0,
    300: #d1d5db,
    400: #9ca3af,
    500: #6b7280,
    600: #4b5563,
    700: #374151,
    800: #1f2937,
    900: #111827,
  ),
  neutral: (
    100: #ffffff,
    200: #f9fafb,
    900: #0f172a,
  ),
  accent: (
    300: #a5b4fc,
    500: #84cc16,
    600: #dc2626,
    700: #4f46e5,
  ),
);
