@use "./breakpoints" as *;

@mixin flex($jc, $ai, $dir) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $dir;
}

@mixin break-up($point) {
  @if map-has-key($breakpoints, $point) {
    @media (min-width: map-get($breakpoints,$point)) {
      @content;
    }
  }
}

@mixin break-down($point) {
  @if map-has-key($breakpoints, $point) {
    @media (max-width: map-get($breakpoints,$point)) {
      @content;
    }
  }
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin button() {
  padding-inline: 1.25rem;
  padding-block: 0.75rem;
  background: #0f172a;
  border-radius: 0.5rem;
  color: white;
  border: none;
  font-weight: 700;
  cursor: pointer;
  display: block;
  font-family: "Inter", sans-serif;
  text-decoration: none;

  &:hover {
    background: var(--clr-accent-700);
  }
}

@mixin button2() {
  padding: 0.625rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-primary-300);
  color: var(--clr-neutral-100);
  font-weight: 600;
  cursor: pointer;
}
